.rates-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 90px;
  max-width: 1200px; /* Добавлено ограничение на максимальную ширину сетки */
  margin: 0 auto; /* Центрирование сетки на странице */
}
